@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

/* app */

.App {
  height: 100vh;
  width: 100%;
}

/* header */

header {
  background: #4dd0e1;
  height: 60px;
}

header nav {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* home */

.Home {
  height: 100%;
}

.Home .content {
  height: 100%;
  width: 100%;
  padding-top: 4rem;
}

.Home .card {
  width: 95%;
  margin: 0 auto;
  background: white;
  height: 279px;
}

.Home .card .buttons {
  display: flex;
  width: 100%;
}

.Home .card .buttons button {
  width: 50%;
  height: 50px;
  background: #f2f2f2;
  border: none;
  color: #9b9b9b;
  font-size: 16px;
  line-height: 22px;
}

.Home .card .card-body {
  width: 100%;
  padding: 1.5rem;
}

.Home .active {
  background: white !important;
  border-radius: 4px 4px 0 0;
  color: #4dd0e1 !important;
  border-bottom: 4px solid #4dd0e1 !important;
}

/* exit/entrance */
.exit-body,
.entrance-body {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.entrance-body img {
  object-fit: contain;
  margin-top: 1rem;
}

.entrance-body .center-me {
  text-align: center;
  margin-top: 1rem;
}

.exit-body p,
.entrance-body p {
  font-size: 16px;
  line-height: 22px;
  color: #9b9b9b;
}

.exit-body input,
.entrance-body input {
  background: #fffbe6;
  border: 1px solid #cccccc;
  height: 70px;
  text-align: center;
  border-radius: 4px;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
  font-size: 24px;
  line-height: 33px;
}

.exit-body button,
.entrance-body button {
  height: 70px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.exit-body button:disabled:first-of-type,
.entrance-body button:disabled {
  color: #9b9b9b;
  background: #dadada;
}

.exit-body button:disabled:last-of-type {
  background: white;
  color: #9b9b9b;
  border: 2px solid #dadada;
}

.exit-body button:first-of-type {
  margin-bottom: 0.8rem;
}

.entrance-body button {
  background: #28dd91;
  color: white;
}

.exit-body button:first-of-type {
  background: #a769b2;
  color: white;
}

.exit-body button:last-of-type {
  background-color: white;
  border: 2px solid #a769b2;
  color: #a769b2;
}

.exit-body span {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #00bcd4;
  margin-top: 1rem;
}

/* data */

.Data .data-content {
  background: white;
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.8rem;
}

.Data .data-header {
  display: flex;
  align-items: center;
}

.Data h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-left: 0.6rem;
  color: #00bcd4;
}

.data-entry {
  background: #ffffff;
  border: 1px solid #e4e3e3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.data-entry p {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #9b9b9b;
}

.data-entry span {
  font-size: 24px;
  line-height: 33px;
  color: #0a261d;
}

/* menu */

.Menu {
  background: #4dd0e1;
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 3rem 2rem;
}

.Menu ul li {
  list-style-type: none;
  color: white;
  margin-bottom: 3rem;
}
